:root {
  --dark: #000000;
  --light: #ffffff;
}

.light-mode {
  color: var(--dark);
  background-color: var(--light);
}

.dark-mode {
  color: var(--light);
  background-color: var(--dark);
}

.fade {
  transition: 1s ease-out;
  transition-property: color, background-color;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "RobotoRegular";
}

body {
  min-height: 100%;
  min-height: -moz-available; /* WebKit-based browsers will ignore this. */
  min-height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  min-height: fill-available;
}

a,
a.visited,
a:hover,
a:active,
.footer,
.switch {
  color: rgb(127, 127, 127);
}

.switch {
  position: absolute;
  top: 1vh;
  width: 100vw;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.clock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-size: 15em;

  user-select: none;
}

.clock div:not(:last-child)::after {
  content: ":";
}

.footer {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;
  display: flex;
  justify-content: space-between;
}

.switch,
.footer {
  font-size: 1.5em;
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
  .clock {
    font-size: 10em;
  }
}
@media screen and (max-width: 599px) {
  .clock {
    font-size: 5em;
  }
}
